:root {
    --basic-black: #283136;
    --dark-black: #000000;
    --basic-white: #FFFFFF;
    --light-gray: #EEEEEE;
    --basic-red: #FB565A;
    --basic-yellow: #EFC849;
    --basic--green: #00CA74;


}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
}

body {
    width: 1440px;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
    background-color: var(--basic-white);
    max-height: 100%;
}

/* header */

.header {
    background: var(--light-gray);
    padding: 50px 140px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 25px auto 10px;
    max-width: 500px;
    color: var(--dark-black);

}

.navigation__item {
    margin-right: 48px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.cart {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    margin-top: 25px;
    color: var(--dark-black);
    text-decoration: none;
}

/* slider */

.slider {
    padding-right: 140px;
    padding-left: 140px;
    display: flex;
    background: var(--light-gray);
    max-height: 421px;
    margin-bottom: 80px;
}

.slider__title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding-top: 72px;
    margin-bottom: 25px;
    color: var(--dark-black);
}

.slider__text {
    margin-bottom: 50px;
}

.slider__btn {
    color: var(--basic-white);
    width: 160px;
    height: 50px;
    background-color: var(--basic-red);
    padding: 15px 55px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
}

/* features */

.features {
    padding-right: 140px;
    padding-left: 140px;
    margin-bottom: 36px;
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
}

.features__list::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--light-gray);

}

.features__item {
    width: 300px;
    margin-right: 100px;
    position: relative;
    padding-top: 171px;
    padding-bottom: 97px;
}

.features__item:first-child .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-1.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:nth-child(2) .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-2.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:last-child .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-3.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:last-child {
    margin-right: 0;
}

.features__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    color: var(--dark-black);
}

.features__text {
    margin: 0 0 46px 0;
}

.features__btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--basic-white);
    padding: 15px 40px;
    border-radius: 3px;
}

.features__btn--red {
    background: var(--basic-red);
}

.features__btn--green {
    background: var(--basic--green);
}

.features__btn--yellow {
    background: var(--basic-yellow);
}

/* About */

.about {
    position: relative;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 38px;
    display: flex;
}

.about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--light-gray);
}

.about__desc {
    padding-top: 36px;
}

.about__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin: 0 0 32px 0;
    color: var(--dark-black);
}

.about__text {
    margin: 0 0 40px 0;
}

.about__list-title {
    font-weight: bold;
    margin: 0;
}

.about__list-text {
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__list {
    padding: 0;
    list-style: none;
}

.about__item {
    padding-left: 37px;
    margin-bottom: 23px;
    position: relative;
}

.about__item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    top: 50%;
    left: 0;
}

.graph__desc {
    margin-left: 150px;
    max-width: 360px;
}

.graph__text {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.graph__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.graph__item {
    margin-right: 30px;
}

.graph__item:last-child {
    margin-left: -7px;
}

.graph__percent {
    position: relative;
    font-size: 45px;
    font-weight: bold;
    line-height: 64px;
    margin-top: 14px;
    margin-bottom: -9px;
}

.graph__percent--small {
    position: absolute;
    top: 5px;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
}

/* partners */

.partners {
    padding: 55px 182px 35px 172px;
}

.partners::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--light-gray);
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.partners__item {
    position: relative;
    width: 210px;
    height: 90px;
    margin: 0;
    text-align: center;
}

.partners__item:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background: var(--light-gray);
    top: 11px;
    left: -41px;
}


