:root {
    --basic-black: #283136;
    --dark-black: #000000;
    --dark-black-opac: rgba(0, 0, 0, 0.7);
    --dark-black--mega: rgba(0, 0, 0, 0.3);
    --basic-white: #FFFFFF;
    --white-opacity: rgba(255, 255, 255, 0.3);
    --light-gray: #EEEEEE;
    --basic-red: #FB565A;
    --dark-red: #E74246;
    --mega-red: #D7373B;
    --basic-yellow: #EFC849;
    --dark-yellow: #EAB534;
    --mega-yellow: #E5A722;
    --basic--green: #00CA74;
    --dark-green: #00BC6C;
    --mega-green: #00AA62;
    --main-back: #888888;
    --soft-gray: #E1E1E1;
    --soft-black: #444444;
    --grayer: #666666;
    --border-gray: #D7DCDE;
    --border-black: #B4B9BB;
}

* {
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.page {
    height: 100%;
    background-color: var(--main-back);
}

body {
    width: 1440px;
    min-height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-black);
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    background-color: var(--basic-white);
}

/* header */

.header {
    background: var(--light-gray);
    padding: 50px 140px 0;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    fill: var(--dark-black);
    transition: all .3s
}

.logo:hover {
    fill: var(--dark-black-opac);
}

.logo:active {
    fill: var(--dark-black--mega);
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 25px 175px 10px 90px;
    max-width: 500px;
    color: var(--dark-black);
}

.navigation__item {
    margin-right: 48px;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
}

.navigation__item:last-child {
    margin-right: 0;
}

.navigation__link {
    color: var(--dark-black);
    text-decoration: none;
    transition: all .3s;
    padding-bottom: 19px;
}

.navigation__link:hover {
    color: var(--basic-red);
}

.navigation__link:active {
    color: var(--dark-black--mega);
}

.navigation__link--active {
    border-bottom: 2px solid var(--basic-red);
}

.cart {
    padding-top: 25px;
}

.cart__link {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 30px;
    margin-top: 25px;
    color: var(--dark-black);
    text-decoration: none;
    position: relative;
}

.cart__link:hover {
    color: var(--basic-red);
}

.cart__link:active {
    color: var(--dark-black--mega);
}

.cart__link::before {
    content: "";
    position: absolute;
    background: url("../img/cart-icon.svg");
    background-repeat: no-repeat;
    top: 3px;
    left: -40px;
    width: 15px;
    height: 15px;
}

/* slider */

.slider {
    padding-right: 140px;
    padding-left: 140px;
    display: flex;
    background: var(--light-gray);
    max-height: 421px;
    margin-bottom: 80px;
}

.slider__title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    margin: 0;
    padding-top: 72px;
    margin-bottom: 25px;
    color: var(--dark-black);
}

.slider__text {
    margin-bottom: 50px;
}

.slider__btn {
    color: var(--basic-white);
    width: 160px;
    height: 50px;
    background-color: var(--basic-red);
    padding: 15px 55px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    font-weight: 500;
    transition: all .3s;
}

.slider__btn:hover {
    background-color: var(--dark-red);
}

.slider__btn:active {
    background-color: var(--mega-red);
    color: var(--white-opacity);
}

/* features */

.features {
    padding-right: 140px;
    padding-left: 140px;
    margin-bottom: 36px;
    position: relative;
}

.features::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 1158px;
    height: 2px;
    background: var(--light-gray);
}

.features__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.features__item {
    width: 300px;
    margin-right: 100px;
    position: relative;
    padding-top: 171px;
    padding-bottom: 97px;
}

.features__item:first-child .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-1.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:nth-child(2) .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-2.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:last-child .features__title::before {
    content: "";
    width: 300px;
    height: 146px;
    position: absolute;
    background-image: url(../img/illustration-3.svg);
    background-repeat: no-repeat;
    top: 0;
    left: 0;
}

.features__item:last-child {
    margin-right: 0;
}

.features__title {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    text-transform: uppercase;
    margin: 0 0 16px 0;
    color: var(--dark-black);
}

.features__text {
    margin: 0 0 46px 0;
}

.features__btn {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--basic-white);
    padding: 15px 40px;
    border-radius: 3px;
    transition: all .3s;
}

.features__btn:active {
    color: var(--white-opacity);
}

.features__btn--red {
    background: var(--basic-red);
}

.features__btn--red:hover {
    background-color: var(--dark-red);
}

.features__btn--red:active {
    background-color: var(--mega-red);
}

.features__btn--green {
    background: var(--basic--green);
}

.features__btn--green:hover {
    background-color: var(--dark-green);
}

.features__иет--green:active {
    background-color: var(--mega-green);
}

.features__btn--yellow {
    background: var(--basic-yellow);
}

.features__btn--yellow:hover {
    background-color: var(--dark-yellow);
}

.features__btn--yellow:active {
    background-color: var(--mega-yellow);
}

/* About */

.about {
    position: relative;
    padding-right: 140px;
    padding-left: 140px;
    padding-bottom: 38px;
    display: flex;
}

.about::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 130px;
    width: 1158px;
    height: 2px;
    background: var(--light-gray);
}

.about__desc {
    padding-top: 36px;
}

.about__title {
    font-size: 45px;
    font-weight: 500;
    line-height: 45px;
    margin: 0 0 32px 0;
    color: var(--dark-black);
}

.about__text {
    margin: 0 0 40px 0;
}

.about__list-title {
    font-weight: bold;
    margin: 0;
}

.about__list-text {
    margin-bottom: 25px;
    font-weight: bold;
    text-transform: uppercase;
}

.about__list {
    padding: 0;
    list-style: none;
}

.about__item {
    padding-left: 37px;
    margin-bottom: 23px;
    position: relative;
}

.about__item::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    top: 50%;
    left: 0;
}

.graph__desc {
    margin-left: 150px;
    max-width: 360px;
}

.graph__text {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.graph__list {
    display: flex;
    list-style: none;
    padding: 0;
}

.graph__item {
    margin-right: 30px;
}

.graph__item:last-child {
    margin-left: -7px;
}

.graph__percent {
    position: relative;
    font-size: 45px;
    font-weight: bold;
    line-height: 64px;
    margin-top: 14px;
    margin-bottom: -9px;
}

.graph__percent--small {
    position: absolute;
    top: 5px;
    font-size: 26px;
    font-weight: bold;
    line-height: 40px;
}

/* partners */

.partners {
    position: relative;
    margin-bottom: 75px;
    padding: 33px 72px 35px 165px;
}

.partners::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 130px;
    width: 1158px;
    height: 2px;
    background: var(--light-gray);
}

.partners__list {
    display: grid;
    grid-template-columns: 1fr 298px 298px 1fr;
    grid-column: 1/-1;
    list-style: none;
    align-items: bottom;
    padding: 0;
}

.partners__item {
    position: relative;
    width: 210px;
    height: 90px;
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
}

.partners__icon {
    fill: var(--dark-black);
    opacity: 0.2;
    transition: all .3s;
}

.partners__icon:hover {
    opacity: 1;
}

.partners__icon:active {
    opacity: 0.1;
}

.partners__item:not(:nth-child(1))::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 52px;
    background: var(--light-gray);
    top: 11px;
    left: -50px;
}

/* catalog */

.header__title {
    font-weight: 500;
    font-size: 55px;
    line-height: 55px;
    text-align: center;
    padding-bottom: 108px;
    padding-top: 32px;
}

/* map */

.map {
    width: 1440px;
    height: 412px;
    position: relative;
    margin-bottom: 71px;
}

.map__desc {
    position: absolute;
    background-color: var(--basic-white);
    width: 319px;
    height: 308px;
    top: 53px;
    left: 140px;
    padding: 50px 50px 50px 50px;
}

.map__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: var(--dark-black);
    text-transform: uppercase;
    padding: 0;
    margin: 0 0 21px 0;
}

.map__address, .map__phone {
    line-height: 18px;
    color: var(--grayer);
    padding: 0;
    margin: 0 0 20px 0;
}

.map__btn {
    display: inline-block;
    padding: 17px 44px 15px 44px;
    background-color: var(--basic-red);
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: 500;
    margin-top: 16px;
    border-radius: 3px;
    transition: all .3s
}

.map__btn:hover {
    background-color: var(--dark-red);
}

.map__btn:active {
    background-color: var(--mega-red);
    color: var(--white-opacity);
}

.map__marker {
    position: absolute;
    top: 86px;
    right: 386px;
}

/* catalog */

.catalog__wrapper {
    padding: 55px 140px 60px 140px;
    display: flex;
}

.sort {
    display: flex;
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* footer */

.footer {
    height: 640px;
    padding: 0;
    /* display: flex; */
}

.footer__inner {
    padding-left: 140px;
    display: flex;
}

.social__list {
    list-style: none;
    margin: 3px 133px 0 2px;
    padding: 0;
    display: flex;
}

.social__item {
    position: relative;
    margin-right: 10px;
}

.social__link {
    display: block;
    width: 79px;
    height: 79px;
    border-radius: 50%;
    background-color: var(--soft-gray);
    position: relative;
    transition: all .3s;
}

.social__link:hover {
    background-color: var(--dark-red);
}

.social__link:active {
    background-color: var(--mega-red);
}

.social__link:active .social__icon {
    opacity: 0.3;
}

.social__icon {
    position: absolute;
}

.social__icon--vk {
    top: 32px;
    left: 26px;
}

.social__icon--fb {
    top: 28px;
    left: 34px;
}

.social__icon--insta {
    top: 29px;
    left: 30px;
}

.footer__desc {
    padding-top: 6px;
}

.footer__title {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: var(--dark-black);
    margin-bottom: 10px;
}

.footer__text {
    margin: 0;
    padding: 0;
    line-height: 22px;
    color: var(--soft-black);
}

.main__form {
    width: 960px;
    height: 590px;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
    padding: 63px 100px 84px 100px;
    position: absolute;
    left: 345px;
    top: 1705px;
    transition: all .3s;
}

.main__form--hidden {
    display: none;
}

.main__form--title {
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    color: var(--dark-black);
    margin: 0 0 37px 0;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.form__btn--close {
    position: absolute;
    background-color: transparent;
    width: 21px;
    height: 21px;
    border: none;
    top: -74px;
    right: -9px;
    cursor: pointer;
    outline-color: transparent;
}

.form__btn--icon {
    content: "";
    position: absolute;
    width: 21px;
    height: 21px;
    top: 0;
    right: 0;
    fill: var(--basic-red);
    opacity: 0.3;
    outline: none;
}

.form__btn--icon:hover {
    opacity: 1;
}

.form__btn--icon:active {
    opacity: 0.1;
    outline: none;
}

.form__label {
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    color: var(--dark-black);
}

.form__label--text {
    margin-top: 34px;
}

.form__input {
    width: 360px;
    height: 50px;
    padding: 16px;
    margin-top: 9px;
    border: 2px solid var(--border-gray);
    border-radius: 3px;
}

.form__input:hover, .form__textarea:hover {
    border: 2px solid var(--border-black);
}

.form__input:focus, .form__textarea:focus {
    border: 2px solid var(--dark-black);
}

::-webkit-input-placeholder {
    color: var(--soft-black);
    line-height: 18px;
    opacity: 0.5;
}

.form__input:focus::placeholder, .form__textarea:focus::placeholder {
    opacity: 1;
}

.form__textarea {
    width: 760px;
    height: 117px;
    padding: 16px;
    margin-top: 9px;
    border: 2px solid var(--border-gray);
    border-radius: 3px;
    margin-bottom: 47px;
}

.form__btn {
    background-color: var(--basic-red);
    padding: 16px 83px;
    border: none;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--basic-white);
    border-radius: 3px;
}